/* Import Jua and Open Sans Font Families */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: rgb(0, 0, 0, 0);
  margin: 0;
}
